node_modules
.next
.vercel
.firebase
*.log
Dockerfile
git
.git
dist
build
.DS_Store
.env*
!.env.production
service-account-key.json
ormsby-inventory-selected-2025-11-19.csv
functions/node_modules
functions/lib

